@import url("https://fontlibrary.org//face/waltograph-disney");

footer.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 6px;

}

footer span {
    vertical-align: top;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    letter-spacing: 3px;
    font-size:25px;
    color: #ffffff;
}