aside.logo {
    background-color: var(--bg-menu);
    text-align:center;
}

aside.logo img {
    width: 100%;
    height: auto;
    
    padding: 0 auto;
    padding-top: 5px;
    padding-left: 15px;
}