aside.logo {
    background-color: var(--bg-menu);
    text-align: center;
    float: left;
    
    width: var(--logo-width);
    height: 100%;
}

aside.logo img {
    width: 100%;
    height: auto;
    padding: 5px 0 0 15px;
    /*padding-top: 5px;
    padding-left: 15px;*/
}