nav {
    height: 100%;
}

nav.menu {
    background-color: var(--bg-menu);
    text-align: right;

    display: flex;
    justify-content: right;
    align-items: center;
    

    list-style-type: none;
}

.menu a {
    display: inline;
    text-decoration: none;
    font-size: 20px;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;

    margin: 12px;
    margin-left: 20px;
    padding: 6px 15px;
    color: #e1e1e6;
    border-radius: 20px;
}

div.enterMethod a {
    padding: 6px 20px;
}

.menu a:hover,
.menu .active {
    background: #fff;
    color: #2600ff;
}