@import url("https://fonts.googleapis.com/css?family=Varela+Round%22");
@import url("https://fontlibrary.org//face/waltograph-disney");
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --bg-menu: #191622;
    --bg-primary: #10101a;
    --logo-width: 150px;
    --content-header-height: 6.5%
        /* 6.5%60px*/
    ;
    --content-footer-height: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-color: var(--bg-primary);
    background: linear-gradient(#2b1055, #7597de);
    box-sizing: border-box;
    font-family: "Pacifico", sans-serif;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

/* Lay-out */
.App {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    grid-template-rows:  var(--content-header-height) 1fr var(--content-footer-height);
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    height: 100vh;
    background-color: var(--bg-primary) /*#f5f5f5*/;
}

header {
    grid-area: header;
}

div.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}

/* Scroolbar */
::-webkit-scrollbar {
    width: 0.7vw;
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background-color: #000000;
    /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background-color: #4d37a0;
    border: 0.25vw solid #000000;
    border-radius: 1vw;
}

