a.float {
    background-color: #0C9;
    color: #FFF;

    position: absolute;
    bottom: 10%;
    right: 10%;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 22px;
}