/* Estilização Geral */

* {
    outline: none !important;
    scroll-behavior: smooth;
}

body {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
}

p.esconder {
    opacity: 0;
    font-size: 1.15rem;
}

/* Conteudo Principal */
.principal>div {
    width: 100vw;
    border: 0;
    border-radius: 0;
}

.conteudo-principal {
    background-color: #243A69;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 6px;

    padding-top: 120;
    padding-left: 120;

    height: Calc(50vh * 0.8);
    width: 100%;

    padding-top: 100px;

}

/* Conteudo Principal */
.conteudo-principal {
    position: relative;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.banner {
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: url("../../../assets/images/castelo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    margin: 0em 0 10em 0;
    margin-bottom: 0;
}

.banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgb(0, 3, 31), transparent);
}

.banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, #000, transparent);
}

.contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    z-index: 10;
}

.contentBox h1 {
    color: #fff;

    font-family: 'WaltographRegular';
    font-size: 7rem;

    font-weight: 500;
}

/* Conteudo Nome da Empresa */
.conteudo-principal-subtitulo span {
    color: rgb(255, 255, 255);
    font-size: 30px;

    font-family: 'WaltographRegular';


    font-weight: 500;
    font-size: 64px;
    line-height: 1px;


    align-items: center;
    letter-spacing: -0.832px;

    margin-left: 15px;

    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.contentBox p {
    color: #fff;
    font-size: 1.3rem;
}


.conteudo-principal-subtitulo P {
    line-height: 1.4;
    color: rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;


    align-items: center;
    letter-spacing: -0.832px;

    margin-left: 15px;

    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}


/* CSS */
.btnD1 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    padding: 15px 50px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1.15rem;
    font-weight: 700;
}

.btnD1:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btnD1:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    color: rgb(0, 140, 255);
}

.btnD1:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.an-expansion {
    animation: bounce 2s;
}

@keyframes bounce1 {
    80% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.an-inf-expansion {
    animation: bounce1 5s infinite;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.an-fadeIn {
    animation: fadeIn 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.an-fadeIn-btn {
    opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.section-developers {
    padding-top: 140px;
    padding-bottom: 200px;
}

.container-web-1216 {
    max-width: 1216px;
    padding-right: 24px;
    padding-left: 24px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.header-devs {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    color: #e1e1e6;
    font-size: 40px;
    line-height: 130%;
}

.devs-colletions {
    margin-top: 60px;
}

.lista-dev {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 300px 300px;
    -ms-grid-rows: auto;
    grid-template-rows: 422px;
}

.dev-card {
    border: 1px solid #202024;
    background-color: #09090a;
}


.div-imagem-avatar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -o-object-fit: fill;
    object-fit: fill;
}

.avatar {
    height: 300px;
    object-fit: cover;

}

.dev-infos {
    display: flex;
    margin: 16px 8px 16px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.dev-tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #22729d;
}

.dev-tag-site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2px 4px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #22729d;
}

.p-14.dev-cargo {
    margin-bottom: 0;
    color: #121214;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.p-14.dev-site {
    margin-bottom: 0;
    color: #121214;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.p-14 {
    font-family: Roboto, sans-serif;
    color: #c4c4cc;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.healine-18.dev-name {
    margin-top: 8px;
    margin-bottom: 0;
    color: #e1e1e6;
    text-align: left;
}

.healine-18 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 10px;
}



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

folha de estilo do user agent p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p-14.dev-about {
    margin-bottom: 0;
    color: #8d8d99;
    text-align: left;
}

/* Cards */
::selection {
    color: rgb(0, 145, 255);
    background: rgb(255, 255, 255);
}

.wrapper {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 100%;
}


.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}


.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.card img {
    object-fit: cover;
}



.card {
    position: absolute;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    width: 100%;
}

.card.back-face .info {
    width: 100%;
    height: 422px;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */

}


.back-face .info .title {
    font-family: "Maven Pro", sans-serif;
    font-size: 30px;
    font-weight: 500;
    width: 100px;
    text-align: center;
}

.back-face {
    transform: rotateY(180deg);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box div {
    width: 100px;
    height: 100px;
    background-color: red;
}

a.link-github {
    text-decoration: none;
}